.Card {
    border: 1px dashed black;
    border-radius: 3px;
    font-family: monospace;
    font-size: 10px;
    height: 150px;
    width: 100px;
    margin: 1%;
    z-index: 5;
    
    background-color: white;
  }