.PlayerBox {
    border: 3px solid black;
    border-radius: 7px;
    font-family: monospace;
    font-size: 10px;
    height: 120px;
    width: 250px;
    margin: 2%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

  }

 .flex-container {
   flex: 1;
   display: flex;
   justify-content: space-around;
 }

 .photo-container {
   flex: 1;
 }

.info-container {
  flex: 1;
}

.player-photo {
  max-width: 100px;
}

.currentTurn {
  border-color: orange;
}
